{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1><u>List of posts</u></h1>
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'post_detail' post_id=post.id  %}" class="link">
                <h2><u>{{ post.id }}. {{ post.title }}</u></h2>
            </a>
            <p>{{ post.content }}</p>
            <p>by <b>{{ post.author }}</b></p>
            <img class="image" src=" {{ post.thumbnail | cut:'posts' }} " alt="photo">
        </div>
    {% endfor %}
    
{% endblock content %}
    
