{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1><u>List of posts</u></h1>
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'post_detail' post_id=post.id  %}" class="link">
                <h2><u>{{ post.id }}. {{ post.title }}</u></h2>
                <img class="image" src=" {{ post.thumbnail | cut:'posts' }} " alt="photo">
            </a>
            <div class="main-content">
            <p>By: <u><b>{{ post.author }}</b></u></p>
            <p>{{ post.content }}</p>
            </div>
            
            
        </div>
    {% endfor %}
    <div class="pagination">
        
        {% if posts.has_previous %}
            <a href="{% url 'posts_home' %}?page={{ posts.previous_page_number }}" class="page-instructions">Previous</a>
        {% endif %}

        <p>Page {{ posts.number }} out of {{ posts.paginator.num_pages }}</p>

        {% if posts.has_next %}
            <a href="{% url 'posts_home' %}?page={{ posts.next_page_number }}" class="page-instructions">Next</a>
        {% endif %}
        
    </div>
    
{% endblock content %}
    
