{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="post-details">
        <h2><u>{{ post.id }} | {{ post.title }}</u></h2>
        <img class="image" src=" {{ image_url | cut:'posts' }} " alt="photo">
        <div class="main-content">
        <p>By <b>{{ post.author }}</b></p>
        <p>{{ post.content }}</p>
        </div>    
        <br>
        <a href="{% url 'update_post' post_id=post.id %}" class="update-link">Update</a>
    </div>
{% endblock content %}
    